var ctx = $("#@@ID@@");
var chart = new Chart(ctx,{
    type: 'bubble',
    data: @@DATA@@,
    options : {
        responsive: false,
        animation : {
            animateRotate : true
        }
    }}
);