var chart = c3.generate({
    bindto: '#@@ID@@',
    data: {
        x : 'x',
        y : 'y',
        columns: [
            ['x', @@X@@],
            [@@DATA@@]
        ],
        type : 'line'
    },
    axis: {
        x: {
            type : 'category',
            label: {
                text : '曜日'
            }
        },
        y : {
            label : {
                text : 'ログイン回数',
                inverted : true
            }
        }
    }
});