var options = {
    responsive: false,
    scales: {
        xAxes: [{
            display: true
        }]
    }
}

var ctx = $("#@@ID@@");
var line = new Chart(ctx, {
    type: 'line',
    data: @@DATA@@,
    options: options
});